body {
    margin: 0 auto;
}

.box_animate {


    width: 400px;
    height: 400px;
    margin: 100px auto 0;
    position: relative;
    animation-name: box_animate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.box_front {
    background: peru;
    width: 150px;
    height: 150px;
    margin: 100px auto 0;
    position: relative;
    animation-name: box_front;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

.box_front ::before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(20px);
    background: peru;

}

.box_back {
    background: green;
    width: 150px;
    height: 150px;
    margin: 100px auto 0;
    position: relative;
    animation-name: box_back;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.box_back ::before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(20px);
    background: green;
}

@keyframes box_animate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }


}


@keyframes box_front {
    from {
        transform: rotatez(0);
    }
    to {
        transform: rotatez(360deg);
    }


}


@keyframes box_back {
    from {
        transform: rotatez(360deg);
    }
    to {
        transform: rotatez(0);
    }


}